<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<h3>Một số căn hộ chung cư hai phòng ngủ điển hình tại các dự án</h3>

<section class="no-padding" id="portfolio">
<div class="container-fluid">
<div class="row no-gutter">
	
    <div class="col-sm-12">
        <img src="img\CH2pn\can-ho-2-phong-ngu.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\dothi_svr_1a.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\high intela.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\me tri plaza.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\phoi-canh-3d-can-ho-L-toa-kl-xuan-mai-spaks-tower.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\phoicanhcanho1.jpg" class="img-responsive" alt="" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\xuan mai spark.jpg" class="img-responsive" alt="" />
    </div>

</div>
</div>
</div>

