<h3>Một số căn hộ chung cư hai phòng ngủ điển hình tại các dự án</h3>
<!--<ul>
	<li><img src="img\CH2pn\can-ho-2-phong-ngu.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\dothi_svr_1.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\dothi_svr_1a.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\high intela.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\me tri plaza.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\phoi-canh-3d-can-ho-B-toa-kl-xuan-mai-spaks-tower.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\phoi-canh-3d-can-ho-L-toa-kl-xuan-mai-spaks-tower.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\phoicanhcanho1.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\sails tower.jpg" alt="image" /></li>

	<li><img src="img\CH2pn\xuan mai spark.jpg" alt="image" /></ul></li>

</ul>-->

<div class="container-fluid">
<div class="row no-gutter">
	
    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\can-ho-2-phong-ngu.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\dothi_svr_1a.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\high intela.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\me tri plaza.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\phoi-canh-3d-can-ho-L-toa-kl-xuan-mai-spaks-tower.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\phoicanhcanho1.jpg" alt="image" />
    </div>

    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <img src="img\CH2pn\xuan mai spark.jpg" alt="image" />
    </div>

</div>
</div>

