<h3>Một số căn hộ chung cư hai phòng ngủ điển hình tại các dự án</h3>

<section class="no-padding" id="portfolio">
<div class="container-fluid">
<div class="row no-gutter">
	
    <div class="col-sm-12">
        <img src="img\CH2pn\can-ho-2-phong-ngu.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\dothi_svr_1a.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\high intela.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\me tri plaza.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\phoi-canh-3d-can-ho-L-toa-kl-xuan-mai-spaks-tower.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\phoicanhcanho1.jpg" alt="image" />
    </div>

    <div class="col-sm-12">
        <img src="img\CH2pn\xuan mai spark.jpg" alt="image" />
    </div>

</div>
</div>
</div>

